* {
	box-sizing: border-box;
}

ul, ol, h1, h2, h3, p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h3:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
fieldset {
	margin: 10px;
}

body {
	display: flex;
}
#content {
	text-align: center;
	margin-top: 20px;
	width: 70%;
}

#code {
	width: 100%;
	height: 150;
}
#chars {
	float: right;
	display: inline-block;
}

table {
	width: 100%;
}
td {
	background-color: tan;
	border: 2px solid black;
}

.selected {
	background-color: red;
}

#code {
	background-color: #3333FF;
	color: white;
}

#sidebar {
	width: 30%;
}
