* {
	box-sizing: border-box;
	margin: 0 0;
}


#content {
	display:inline-block;
	vertical-align: top;
	text-align: center;
	margin-top: 20px;
	margin-left: 310px;
	width: 500px;
}

#code {
	width: 500;
	height: 150;
}

td {
	width: 50;
	background-color: tan;
	border: 2px solid black;
}

.selected {
	background-color: red;
}

#code {
	background-color: #3333FF;
	color: white;
}

#sidebar {
	display: inline-block;
	width: 300px;
}
